In [ ]:
# ######### data mungling with pandas before app-py for Flask # #########

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt

In [2]:
fileTest = 'static/coloradoTestData.csv'

In [3]:
coTestRaw_df = pd.read_csv(fileTest)
coTestRaw_df.head()

,roundNo,ind3x,DateYear,DateHalf,Average of MedianListingPrice_1Bedroom,Average of MedianListingPrice_2Bedroom,Average of MedianListingPrice_3Bedroom,Average of MedianListingPrice_CondoCoop,avgOneBedStr,avgTwoBedStr,avgThreeBedStr,avgCondoStr,1bedAvg,2bedAvg,3bedAvg,4bedAvg
0,1,2010-Q1,2010,1,150283.3333,174066.6667,228088.7500,182990.5833,"$ 150,283","$ 174,067","$ 228,089","$ 182,991",150283,174067,228089,182991
1,2,2010-Q2,2010,2,150583.3333,169433.3333,220449.8333,170216.6667,"$ 150,583","$ 169,433","$ 220,450","$ 170,217",150583,169433,220450,170217
2,3,2011-Q1,2011,1,141525.0000,153400.0000,197003.7500,164754.1667,"$ 141,525","$ 153,400","$ 197,004","$ 164,754",141525,153400,197004,164754
3,4,2011-Q2,2011,2,144291.6667,156316.6667,202016.6667,180133.3333,"$ 144,292","$ 156,317","$ 202,017","$ 180,133",144292,156317,202017,180133
4,5,2012-Q1,2012,1,148633.3333,153351.1667,198033.3333,180566.6667,"$ 148,633","$ 153,351","$ 198,033","$ 180,567",148633,153351,198033,180567

In [ ]:
coTest_df = coTestRaw_df.copy()
list(coTest_df.columns)

In [ ]:
# ['roundNo',
#  'ind3x',
#  'DateYear',
#  'DateHalf',
#  'Average of MedianListingPrice_1Bedroom',
#  'Average of MedianListingPrice_2Bedroom',
#  'Average of MedianListingPrice_3Bedroom',
#  'Average of MedianListingPrice_CondoCoop',
#  'avgOneBedStr',
#  'avgTwoBedStr',
#  'avgThreeBedStr',
#  'avgCondoStr',
#  '1bedAvg',
#  '2bedAvg',
#  '3bedAvg',
#  '4bedAvg']

In [ ]:
# type(coTest_df.ind3x) series
# type(coTest_df['ind3x']) series

In [ ]:
roundNo =