In [1]:
# ######### data mungling with pandas before app-py for Flask # ######### 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt

In [3]:


# _df = pd.read_csv(
#     , encoding='ISO-8859-1')

In [13]:
coTest_df = coTestRaw_df.copy()
# coTest_df.columns ['roundNo', 'ind3x', 'DateYear', 'DateHalf', '1bedAvg', '2bedAvg',
#        '3bedAvg', '4bedAvg', 'avgOneBedStr', 'avgTwoBedStr', 'avgThreeBedStr',
#        'avgCondoStr']

In [14]:
# - - - - - REG FOR ONE BEDROOM MEDIAN LST PRC - - - - - 
# pol reg order 2 eqtn y = 620.55x2 - 2167.7x + 147740 highest R-sq
# linear reg w/ forced intercept lower R-sq
# lin reg free style high R-sq but unrealistic intercept at 116,000

In [20]:
fileTest2 = 'static/coloradoTestReg_bed1.csv'
coTestBed1_df = pd.read_csv(fileTest2)
coTestBed1_df.head()

,roundNo,1bedAvg,1bedAvgRnd,regPol2,regLinFit,regLinFree,1bedAvg_str,1bedAvgRnd_str,regPol2_str,regLinFit_str,regLinFree_str
0,1,150283.3333,179376,146192.85,137117,124473,"$ 150,283","$ 179,376","$ 146,193","$ 137,117","$ 124,473"
1,2,150583.3333,145546,145886.80,144234,132854,"$ 150,583","$ 145,546","$ 145,887","$ 144,234","$ 132,854"
2,3,141525.0000,145212,146821.85,151351,141235,"$ 141,525","$ 145,212","$ 146,822","$ 151,351","$ 141,235"
3,4,144291.6667,174960,148998.00,158468,149616,"$ 144,292","$ 174,960","$ 148,998","$ 158,468","$ 149,616"
4,5,148633.3333,172193,152415.25,165585,157997,"$ 148,633","$ 172,193","$ 152,415","$ 165,585","$ 157,997"